.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell-pulp {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(100,100,100);
  box-sizing: border-box;
  transition: all 0.2s;
}

.Cell-pulp.active {
  width: 95%;
  height: 95%;
}
