.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  height: 60px;
}

.App-title {
  font-size: 1.5em;
}

.App-grid {
  padding: 50px;
  margin: 10px auto;
  display: grid;
  justify-content: center;
}
